<div class="nav-item">
    <button mat-button class="btnSidebar"><span><img src="../../../assets/images/logo.svg" alt="logo"
                style="width: 70%;"></span></button>
</div>
<div class="nav-item active">
    <button mat-button class="btnSidebar">Home</button>
</div>
<div class="nav-item">
    <button mat-button class="btnSidebar">What's on</button>
</div>
<div class="nav-item">
    <button mat-button class="btnSidebar">Shortcodes</button>
</div>
<div class="nav-item">
    <button mat-button class="btnSidebar">News</button>
</div>
<div class="nav-item">
    <button mat-button class="btnSidebar">contact</button>
</div>