<div class="row movieItem">
    <div class="col-lg-2 col-12 moive_img">
        <img src="../../../assets/images/movies-img/movie-1.jpg" alt="movie-item-1" class="img-fluid">
    </div>
    <div class="col-lg-10 col-12 movie_content">
        <div class="movie_time">
            14/12/2020
        </div>
        <div class="movie_name">
            It`s Over
        </div>
        <div class="movie_desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium deleniti dicta animi molestiae dolores
            maxime eligendi!
        </div>
        <div class="my-3">
            <button mat-flat-button class="movie_viewInfoButton">View info</button>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-12 mr-2">
                <div class="movie_time">
                    viewing times :</div>
            </div>
            <div class="col-lg-8 col-12 input-group movie-time_show">
                <div class="input-group-btn time-show-item">
                    <button mat-flat-button>14:45</button>
                </div>
                <div class="input-group-btn time-show-item">
                    <button mat-flat-button>14:45</button>
                </div>
                <div class="input-group-btn time-show-item">
                    <button mat-flat-button>14:45</button>
                </div>
            </div>

        </div>
    </div>
</div>