<div class="contact-area">
    <p class="text-contact">Need help? Contact our support team on</p>
    <p class="number-contact">0330 123 4567</p>
</div>
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="title-col">
                    GET IN TOUCH
                </div>
                <div class="content-col">FAQs</div>
                <div class="content-col">Give us feedback</div>
                <div class="content-col">
                    contact Us
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="title-col">
                    ABOUT MOVIE STAR
                </div>
                <div class="content-col">About us</div>
                <div class="content-col">Find us</div>
                <div class="content-col">
                    Schedule
                </div>
                <div class="content-col">
                    News
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="title-col">
                    LEGAL STUFF
                </div>
                <div class="content-col">Terms & Conditions</div>
                <div class="content-col">Privacy policy</div>
                <div class="content-col">
                    Cookie policy
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="title-col">
                    CONNECT WITH US
                </div>
                <div class="content-col"> Facebook</div>
                <div class="content-col">Privacy policy</div>
                <div class="content-col">
                    Cookie policy
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pricey">
                <div class="content-col">
                    <span>2020 © Movie Star</span>/ by KhaNguyen
                </div>
            </div>
        </div>
    </div>
</div>