.cm-wapper {
  background-color: #060600;
  padding: 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  i {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to bottom, #fbbd61, #ff5722);
    -webkit-background-clip: text;
  }
  .cm-movie-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .movie-time {
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(to bottom, #fbbd61, #9e9e9e);
      -webkit-background-clip: text;
      font-size: 15px;
      font-weight: 600;
    }
    .movie-name-banner {
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(to bottom, #fbbd61, #ec7532);
      -webkit-background-clip: text;
      font-size: 26px;
      margin: 28px 0 10px;
      letter-spacing: 2px;
      font-weight: 600;
    }
    .movie-desc {
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(to bottom, #d3b383, #9e9e9e);
      -webkit-background-clip: text;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.8px;
      line-height: 2;
      margin-bottom: 10px;
    }
    .groupbtnplay {
      position: relative;
      border-radius: 10px;
      display: inline-block;
      overflow: hidden;

      .buttonPlay {
        background: linear-gradient(to bottom, #fbbd61, #ec7532);
        p {
          position: relative;
          z-index: 1;
          margin: 0;
          display: flex;
          align-items: center;
        }
        &::before {
          content: "";
          width: 0;
          height: 100%;
          background: #ec7532;
          position: absolute;
          bottom: 0;
          transform: skewX(30deg);
          transition: all 0.3s ease;
          left: -15px;
          z-index: 0;
        }
      }
      &:hover {
        box-shadow: 0 5px 10px #fbbd61;
        .buttonPlay {
          &::before {
            width: 145%;
          }
        }
      }
    }
  }

  .cm-movie-img {
    width: 100%;
    img {
      box-shadow: 0 5px 15px #fbbd61;
      border-radius: 10px;
      width: 100%;
    }
  }
  .cm-carousel {
    .btn-movie-cm {
      background: transparent;
      img {
        border-radius: 10px;
      }
    }
  }
  .content-cm-movie {
    .movie-name {
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(to bottom, #fbbd61, #ec7532);
      -webkit-background-clip: text;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.8px;
      line-height: 2;
      margin-bottom: 10px;
      text-transform: capitalize;
    }
  }
  .slick-prev:before,
  .slick-next:before {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to bottom, #fbbd61, #ec7532);
    -webkit-background-clip: text;
  }
}
